In [2]:
0x9ff #hexadecimal (base 16) is leading by 0x(or 0X),followed by a string of hexadecimal digits(0-9 and A-F)

2559

In [4]:
0o177 #octal (base 8) is leading by 0o (or 0O),followed by a string of digits(0-7)

127

In [6]:
0b10100 #binary (base 2) is leading by 0b (or 0B),follewed by a string of digits(0-1)

20

In [46]:
hex(2559)
oct(127)
bin(20) 
#the built-in calls hex(I), oct(I) and bin(I)
#on the other hand, we can use built-in int function to get the integer number under base 10
int('64'),int('100',8),int('0x40',16),int('0b1000000',2)

(64, 64, 64, 64)

In [48]:
#we can also use eval function to get the integer under strings
eval('64'),eval('0o100'),eval('0x40'),eval('0b1000000')

(64, 64, 64, 64)

In [50]:
#and formatting method
'{0:o},{1:x},{2:b}'.format(64,64,64)

'100,40,1000000'

In [51]:
#another way to get the form
'%o,%x,%x,%X' %(64,64,255,255)

'100,40,ff,FF'

In [13]:
int(3.1415) #we can turncates float to integer
float(3) #and we can coverts integer to float

3.0

In [16]:
23%2 #the remainer after 23 divided by 2n

1

In [32]:
num=1/3
num
'{0:.2f}'.format(num) #'{0:4.2f}'.format(num) is able to run???
'%e' % num
'%.2f' % num  #'%4.2f' % num ?

'0.33'

In [42]:
12//7 #the floor division
#if we want to get the truncation toward zero regardless of sign, use math.trunc 
import math
math.trunc(5/float(-2))

-2

In [44]:
5//float(-2) #while the truncation of floor division is -3.0
#the int(N) and math.trunc(N) functions truncate
#the round.(N,didits) function rounds
#we can also compute the floor with math.floor(N) 
#or just use tool "//"

-3.0

Some built-in tools

In [52]:
pow(2,4)#Exponentiation(power function)
abs(-42.0)#the Absolute value

42.0

In [53]:
#we can Round numbers
round(2.567),round(2.467),round(2.567,2)

(3, 2, 2.57)

In [54]:
'%.2f' %2.567,'{0:.1f}'.format(2.567)

('2.57', '2.6')

In [55]:
#three ways to compute square roots
import math
math.sqrt(144)
144**.5
pow(144,.5)

12.0

In [60]:
#we can use random function to random floats, integers,choices and shuffles
import random
random.random()

0.46649375421866246

In [61]:
random.randint(1,10)

4

In [64]:
random.choice(['Life of Brian','Holy Grail','Meaning of Life'])

'Holy Grail'

In [67]:
suits=['hearts','clubs','diamonds','spaders']
random.shuffle(suits)
suits

['diamonds', 'hearts', 'spaders', 'clubs']

In [68]:
suits=['hearts','clubs','diamonds','spaders']
random.shuffle(suits)
suits #the result of suits(or the order of elements in suits) is different

['spaders', 'clubs', 'diamonds', 'hearts']

Decimal

In [71]:
from decimal import Decimal
Decimal('.1')+Decimal('.10')+Decimal('.10')-Decimal('.30')
#otherwise the result may be like that
.1+.1+.1-.3

5.551115123125783e-17

In [76]:
#set the precision of all decimal numbers
#we should use dicimal.getcontext().prec=4
import decimal
from decimal import Decimal
decimal.getcontext().prec=4
decimal.Decimal(1)/decimal.Decimal(7)
decimal.Decimal(1)/decimal.Decimal(7)

Decimal('0.1429')

In [82]:
#1999+1.33 can be coded like this
import decimal
from decimal import Decimal
decimal.getcontext().prec=2
pay=decimal.Decimal(str(1999+1.33))
pay

Decimal('2000.33')

Fraction

In [86]:
#how to transfer decimal to fraction
from fractions import Fraction
Fraction('1.25')
#and how to transfer fraction into decimal
float(Fraction('1.25'))

1.25

In [85]:
#or another way by using a from_float method
Fraction.from_float(1.75)

Fraction(7, 4)

In [87]:
(2.5).as_integer_ratio()

(5, 2)

In [88]:
f=2.5
z=Fraction(*f.as_integer_ratio())
z

Fraction(5, 2)

In [91]:
Fraction(*(1.75).as_integer_ratio())

Fraction(7, 4)

In [93]:
x=Fraction(1,3)
y=Fraction(2,9)
x+y

Fraction(5, 9)

Set

In [95]:
x=set('abcde')
y=set('bdxyz')
x

{'a', 'b', 'c', 'd', 'e'}

In [96]:
x|y
x-y
x&y
x^y# symmetric difference(XOR)

{'a', 'c', 'e', 'x', 'y', 'z'}

In [97]:
#the change of set
z=x.intersection(y)#same as x&y
z

{'b', 'd'}

In [112]:
z.add('spam') #with add function, we can do this
S=set()#an empty set
S.add(1.23)#use add function to add new element into set S
z
S

{1.23}

In [101]:
z.update(set(['X','Y']))
z

{'X', 'Y', 'b', 'd', 'spam'}

In [106]:
for item in set('abc'):
    print(item*3)

bbb
aaa
ccc

In [107]:
S=set([1,2,3])# or we can just write the code like this:S={1,2,3}
S|set([3,4]) #and this can also be written like this:S|{3,4}

{1, 2, 3, 4}

In [108]:
S.union([3,4]) #S|{3,4}

{1, 2, 3, 4}

In [109]:
S.intersection([1,2]) S&{1,2}

{1, 2}

In [110]:
S.issubset(range(-5,5))

True

In [114]:
S

{1.23}

In [ ]:
S.add([1,2,3])#unhashable type: 'list',and 'dict'.
#only immutable objects works in a set, but list and dict are both mutable

In [118]:
S.add((1,2,3))#the (1,2,3) is a tuple, which is mutable.
S

{1.23, (1, 2, 3)}

In [120]:
#we can use set to do some large data jobs
engineers={'bob','sue','ann','vic'}
managers={'tom','sue'}
#now we can code to solve problems
engineers&managers #Intersection, who is both engineer and manager?
#which can be written also like:(managers|engineers)-(managers^engineers)
managers-engineers #show Managers who are not engineers
engineers>managers #show Are all managers engineers?(superset) and vise versa.(subset)
managers^engineers #show Who is in one but not both

{'ann', 'bob', 'tom', 'vic'}

Booleans

In [122]:
type(True)

bool

In [123]:
isinstance(True,int)

True

In [124]:
True==1

True

In [125]:
True is 1

False

In [126]:
True +4

5